* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto Condensed', sans-serif; }

body {
  padding: 80px;
  background: #ffffff; }

ul.buttons {
  list-style-type: none;
  position: fixed;
  height: 100%;
  background: #ffffff;
  padding: 20px;
  top: 0;
  right: 0;
  transition: 1s;
  z-index: 999999; }
  ul.buttons li {
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
    font-size: 40px;
    text-align: center;
    cursor: pointer;
    transition: 0.5s; }
    ul.buttons li .bar {
      display: block;
      width: 40px;
      height: 4px;
      margin-bottom: 4px;
      background: #111111;
      transition: 1s; }
    ul.buttons li:hover .facebook {
      color: #3b5998; }
    ul.buttons li:hover .linkedin {
      color: #00a0dc; }
    ul.buttons li:hover .github {
      color: #7f8c8d; }
    ul.buttons li:hover .codepen {
      color: #f39c12; }
    ul.buttons li:hover .phone {
      color: #2c3e50; }
  ul.buttons.open {
    right: 40%; }
    ul.buttons.open .bar {
      transform: rotate(30deg); }

nav.navigation {
  width: 40%;
  height: 100%;
  background: #ffffff;
  position: fixed;
  top: 0;
  right: -40%;
  padding: 10%;
  transition: 1s;
  z-index: 999999; }
  nav.navigation ul.navigation-list {
    width: 100%;
    height: 100%; }
    nav.navigation ul.navigation-list li {
      display: block; }
      nav.navigation ul.navigation-list li a {
        display: block;
        font-size: 2em;
        color: inherit;
        text-decoration: none;
        text-transform: uppercase;
        margin-bottom: 20px;
        position: relative; }
        nav.navigation ul.navigation-list li a::after {
          content: "";
          position: absolute;
          width: 0;
          bottom: 0;
          left: 0;
          border-bottom: 2px solid #111111;
          transition: 0.5s; }
        nav.navigation ul.navigation-list li a:hover::after {
          width: 100%; }
  nav.navigation.open {
    right: 0; }

.container {
  width: 100%;
  height: 100%;
  background: url("../img/desk.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; }

.top-slider {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .top-slider h1 {
    padding: 20px;
    background: #ffffff;
    font-size: 3em;
    color: #111111;
    text-transform: uppercase; }

.contact {
  width: 40%;
  height: 100%;
  background: #ecf0f1;
  position: fixed;
  left: calc(-40% - 20vw);
  top: 0;
  transition: 1s;
  z-index: 999998; }
  .contact .contact-form {
    width: 100%;
    height: 100%;
    padding: 10%; }
    .contact .contact-form .close {
      font-size: 40px;
      cursor: pointer; }
      .contact .contact-form .close:hover {
        animation: round;
        animation-duration: 1s;
        animation-iteration-count: 1; }

@keyframes round {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }
  .contact::after {
    content: "";
    position: absolute;
    top: 0;
    right: -20vw;
    border-top: 100vh solid #ecf0f1;
    border-right: 20vw solid transparent; }
  .contact.open {
    left: 0; }
